<template name="faqs">
	<div class="ui container margin-container-wrapper">
		<div class="center aligned ui container"> 
			<button class="ui big button" id="homeowner-button">For Homeowners</button>
			<button class="ui big button" id="buyer-button">For Buyers</button>
			<button class="ui big button" id="seller-button">For Sellers</button>
		</div>
		<div class="center aligned ui container text-header-padding" id="for-homeowners">
			<h1 class="ui large header">For Homeowners</h1>
			<div class="ui fluid styled accordion">
				<div class="active title">
					<i class="dropdown icon"></i>
					Why should I register with Off-Market-SF?
				</div>
				<div class="content">
					There are numerous benefits to registering your home through Off-Market-SF!
					<div class="accordion">
						<div class="active title">
							<i class="angle double right icon"></i>
							No commitments!
						</div>
						<div class="content">
							Unlike a traditional sale whereby you have to (practically-speaking) go “all-in” to sell your home, Off-Market-SF is a no-commitment, no-cost way to see what price buyers are offering for your home.  If you don’t like the price, you don’t have to do anything.  But if you like the price you’re offered, you get to sell your house for a great price!
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Stay in your home until you get the right price and terms
						</div>
						<div class="content">
							Selling through an agent generally requires you to move out of your house so you can stage your home.  That requires you to find a temporary place to live, putting all of your possessions into storage and disrupting your usual routines.  Off-Market-SF allows you to stay in your home while we find a buyer willing to pay your desired price.  You continue living in your home 
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Get top dollar offers from motivated buyers targeting your neighborhood
						</div>
						<div class="content">
							We only work with selective buyers who are willing to pay top dollar to find their dream home.  This means you’ll be seeing offers at the upper range as our buyers put a big premium on living on your block, street, neighborhood or school district. 
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Lower commission puts more money in your pocket
						</div>
						<div class="content">
							Real estate agents may charge you up to 6% commission.  Off-Market-SF charges only 1% if we sell your home, potentially saving you $100,000 (on a two million dollar sale). 
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Greater flexibility with your sale terms
						</div>
						<div class="content">
							Because we only work with motivated buyers targeting your neighborhood, you will have more flexibility with the terms of the sale.  If you want to stay in your home till the end of the school year, you can sell your home now and negotiate your specific move-out date. 
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							No repairs and staging costs
						</div>
						<div class="content">
							Homeowners can spend up to $50,000 to get their homes ready for sale and to stage their home with rented furniture.  This is money straight out of your pocket.  Our buyers know they are buying homes ‘as-is’ and will pay top dollar based on the size and location of your home, rather than how well it is presented.
						</div>
					</div>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					How do I register with Off-Market-SF?
				</div>
				<div class="content">
					Registration is quick and simple.  It takes about 2 minutes to register with Off-Market-SF and we’ll quickly get your home in-front of buyers targeting your neighborhood. 
					<a id="link-homeowner">Click here to register.</a>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Does it cost anything to register with Off-Market-SF?
				</div>
				<div class="content">
					There are no costs (or obligations) for registering with Off-Market-SF.  It is free to register and costs you nothing to get your home in-front of buyers targeting your neighborhood.  We’ll get you top-dollar offers for your home, all for the low price of FREE!
					<br><br>
					If you enter into a contract to sell your home to a buyer through Off-Market-SF, we’ll ask that you enter into a Home Listing Agreement whereby you agree to pay a 1% commission to Off-Market-SF.  This is a significant saving from the 6% that agents may charge you if you sold your home that way.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					What geographies does Off-Market-SF cover?
				</div>
				<div class="content">
					Currently, Off-Market-SF is working with buyers in the SF Bay Area, New York, Miami and Seattle
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Will buyers be able to see my minimum price?
				</div>
				<div class="content">
					We will never reveal your minimum price to any buyers.  We ask you for this information so that we are only contacting you once we have a buyer who is willing to exceed your minimum price.
					<br><br>
					Additionally, the price you select when you first register is only indicative and you will negotiate your final sales price with any buyers that we match you with.  We understand that circumstances change, and your final sales price may be higher than your initial minimum price.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					What if I'm not ready to sell right now?
				</div>
				<div class="content">
					Not a problem.  You can still register with Off-Market-SF.  Let us know your price and we can let you know when we’ve found a buyer willing to pay that price.  You can then decide whether the offer is compelling enough to change your plans.  If not, you can elect not to sell and wait for a more attractive offer to arrive.
					<br><br>
					If you want to stay in your house till the end of the school year (or till some other milestone), you can still elect to sell your home and negotiate with your buyer as to the exact move-out date.  Our buyers know that this is a very tight real estate market, and will make concessions to get the home of their dreams, including allowing sellers to continue living in their homes until the time is right.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					I’m thinking about selling my home through a real estate agent later in the year.  Can I register my home with Off-Market-SF in the meantime to see what kind of prices I could get?
				</div>
				<div class="content">
					Absolutely!  Off-Market-SF is a no-cost, no-obligation service, so you can register your home on Off-Market-SF now and see the offers that buyers are offering for your home.  Remember, if you choose to sell your home through Off-Market-SF, you will only pay 1% commission, potentially saving you over $100,000.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Can I register with Off-Market-SF even if I'm unlikely to sell?
				</div>
				<div class="content">
					Absolutely!  Off-Market-SF is a no-cost, no-obligation service, so you can register your home on Off-Market-SF now and see the offers that buyers are offering for your home.  Remember, if you choose to sell your home through Off-Market-SF, you will only pay 1% commission, potentially saving you over $100,000.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					I've registered with Off-Market-SF - what happens now?
				</div>
				<div class="content">
					Once you’ve registered, you can sit back and relax, and wait for the offers to come in.  We’ll inform our buyers targeting your neighborhood and provide them with basic details about your home.  We’ll work with them to gauge their interest level in your home and get indicative bid offers from interested buyers.
					<br><br>
					If any buyers indicative bids exceed your minimum threshold price, we’ll let you know that we have an interested buyer and contact you about setting up an in-person walk-through.
					<br><br>
					If we have multiple buyers interested in your home, we’ll ask you to provide some photos of your home so we can show our buyers.  This will help us limit the number of in-person walk-throughs that we need to undertake.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Who are the buyers you work with and how do you vet buyers?
				</div>
				<div class="content">
					We work with motivated buyers who are targeting homes like yours.  They understand that it is a competitive real estate market and they are willing to pay top dollar for the home of their dreams.
					<br><br>
					We undertake a thorough vetting of buyers before a walk-through is scheduled.  We put all of our buyers through our Triple Check verification program.  We validate our buyers’ identity, financial resources and interest in buying a home.  We obtain a copy of the driver’s license of the buyer to confirm identity.  We also obtain financial documents, including a bank statement, investment account statements and a pre-approval or pre-qualification letter to ensure that the buyer has the financial resources to make an offer.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What information are you showing to potential buyers?
				</div>
				<div class="content">
					We show information about your home to help buyers assess whether they are interested in purchasing your home, and if so, at what price.  Such information would include address, number of bedrooms and bathrooms, square footage and home quality.
					We will not disclose your personal information (name, phone number, email address) to any buyers.
					Your minimum threshold price will not be disclosed to buyers.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Why would your buyers be willing to pay above comp prices for my home?
				</div>
				<div class="content">
					We work with motivated buyers who are very specific about the location of their next dream home.  The understand that there is limited inventory that meets their criteria, and that they need to pay above comp prices to purchase their dream home.
					<br><br>
					Buyers who are looking for a ‘great deal’ are unlikely to find their home through Off-Market-SF.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					How many buyers will I show my house to?
				</div>
				<div class="content">
					It is up to you.  You are in complete control of how many buyers you show your home to.  We only reach out to you when a buyer has indicated that they will exceed your minimum price.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Can I choose who I show my house to?
				</div>
				<div class="content">
					The Fair Housing Act outlaws discrimination based on race, color, religion, sex, national origin, familial status and disability in the terms, conditions or privilege of the sale of a dwelling.  To ensure that you stay in compliance with the Fair Housing Act, we will not disclose information about the potential buyer before the in-person walk-through.
					Rest assured all potential buyers have completed an Off-Market-SF Triple Check background check prior to their walk-through.  We have verified their driver’s license, the financial resources and their interest-level in buying.
					The walk-through can either be with you, with the buyer by themselves or with one of our well-trained and professional specialists - whatever you are comfortable with.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					You've found me a buyer willing to pay may price, what happens now?
				</div>
				<div class="content">
					After we’ve found a buyer willing to pay over your price, we first check that you are still interested in selling your home.  We understand that sometimes things change, and you are under no obligation to sell.
					<br><br>
					Assuming you’re still interested in selling your home at a great price, we’ll set-up an in-person walk-through at a time that is convenient for you and the potential buyer.  The walk-through can either be with you, with the buyer by themselves or with one of our well-trained and professional specialists.
					<br><br>
					After the walk-through, we’ll have our buyer to reconfirm their interest-level and price range.  Assuming their interest is still strong, we’ll then arrange a third-party appraisal and inspection (Off-Market-SF will pay for this appraisal and inspection).  We’ll share the results of the appraisal and inspection with both you and the potential buyer.
					<br><br>
					At this point, we encourage both you and the buyer to obtain legal representation for the transaction.  While this is not mandatory, we think it is prudent.  You can choose to use a lawyer that you are familiar with, or we can provide you with a list of lawyers that we have worked with in the past.  You will be responsible for the cost of the legal representation.
					<br><br>
					If there is still mutual interest in a transaction, we will then ask the buyer to propose their non-price terms, such as the sale date, the move-in date, the contingencies (if any).  You’ll then be able to either accept or modify the non-price terms.
					<br><br>  
					Once we have the non-price terms agreed upon, we conduct a “double blind” auction.  The buyer will submit the maximum price they are willing to pay to buy your home (“the bid”); You will submit the minimum price you’d sell your home at (“the ask”).  If the bid is greater than the ask, the final sales price will be the mid-point between the bid and the ask.  If the bid is less than the ask, no transaction will take place and both parties will be notified.
					<br><br>
					Off-Market-SF has standardized sales agreement contracts that you will enter into with the buyer.  We establish an escrow account on your behalf.
					[Need to complete this]
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Why does Off-Market-SF distinguish between homeowners and sellers?
				</div>
				<div class="content">
					We distinguish between those homeowners who are actively selling their homes, and those homeowners that are aren’t interested in selling their home, but would consider selling if the price is right.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Who can see my info and how do you protect my privacy?
				</div>
				<div class="content">
					We value your privacy and will ensure we protect your privacy.  We will never share any personal information with anyone without your consent.  Buyers will not be provided with your personal information until the final stages of the sales process when we need to disclose your details on contracts, etc.  We will never reveal your minimum sales process with any buyers.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Will my information ever be sold to third-parties?
				</div>
				<div class="content">
					Never.  We will not share your information with any third-parties.
				</div>
			</div>
		</div>
		<div class="center aligned ui container text-header-padding" id="for-buyers">
			<h1 class="ui large header">For Buyers</h1>
			<div class="ui fluid styled accordion">
				<div class="title">
				<i class="dropdown icon"></i>
					What are the benefits of buying through Off-Market-SF?
				</div>
				<div class="content">
					Our goal is to help you buy your dream home!  There are numerous benefits to buying your home through Off-Market-SF
					<div class="accordion">
						<div class="active title">
							<i class="angle double right icon"></i>
							Get access to off-market homes
						</div>
						<div class="content">
							We’ve all heard about these mystical off-market homes, and we’d all love to be have access to them.  Off-Market-SF has access to these Off-Market-SF and can show them to you.  We can substantially increase the number of homes in your consideration set.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Target your dream home
						</div>
						<div class="content">
							You may have very specific homes, streets, blocks, neighborhoods or school districts that you want to buy a home in, yet there is nothing currently actively listed on the open market.  Off-Market-SF can help connect you with sellers who aren’t actively looking to sell their homes, but may reconsider for the right price.  We already have lots of homes registered on our website, and (for a minimal fee) can do pro-active outreach to selected homeowners to generate additional homes to consider.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Inspect homes in your own time
						</div>
						<div class="content">
							Open homes can feel crowded and rushed (as well as all being on at the same time as other open homes), and may not give you a good opportunity to get a good feel for the home that you are contemplating buying.  With Off-Market-SF, we allow you to schedule an individual in-person walk-through at a time that is convenient for you and the homeowner.  The walk-through can either be alone, with the seller or with one of our well-trained and professional specialists.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Custom analytics to help you make the right offer
						</div>
						<div class="content">
							The real estate market is constantly changing and new benchmarks are being re-set weekly.  We provide buyers with both quantitative and qualitative assessment on homes that you are interested in.  We have real-time data on homes sold in our markets, and can provide custom reports that puts the latest data in your hands.  We also have local experts that can provider qualitative facts about the intricacies of the local market.
						</div>
					</div>
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					How do I register to buy a home through Off-Market-SF?
				</div>
				<div class="content">
					Finding your dream home through Off-Market-SF is simple and efficient.
					<a id="link-buyer">Click here to register.</a>
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					I’ve registered as a buyer with Off-Market-SF, what happens now?
				</div>
				<div class="content">
					After registering, an Off-Market-SF specialist will be in contact to learn more about your preferences and interests.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What does it cost to view homes on Off-Market-SF?
				</div>
				<div class="content">
					There are no costs (or obligations) for viewing homes on Off-Market-SF.  It is free to register and costs you nothing to look at homes listed in your desired neighborhood.
					<br><br>
					If you do not find homes that meet your criteria already listed on Off-Market-SF, for a minimal fee, we can do pro-active outreach to selected homeowners to generate additional homes to consider.  Please contact your Off-Market-SF specialist to learn more about this opportunity.
					<br><br>
					There are some costs that you may have to pay if you move forward with buying a home through Off-Market-SF.  We encourage buyers to obtain legal representation for their transaction.  While this is not mandatory, we think it is prudent.  You can choose to use a lawyer that you are familiar with, or we can provide you with a list of real estate lawyers that we have worked with in the past.  You will be responsible for the cost of the legal representation.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Do I have any commitments or obligations?
				</div>
				<div class="content">
					None!  Zero!  Zilch!  Off-Market-SF is a no-commitment, no-cost way to view off-market homes in your desired neighborhood.  You are under no obligation or commitment to attend an open house or make an offer.
					However, when we find you a house that you are interested in, we can help facilitate a walk-through and for making a competitive offer.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Can I also look at homes from other sources, or do I have to work exclusively with Off-Market-SF?
				</div>
				<div class="content">
					Absolutely!  Our goal is to help you find your dream home.  If you find your dream home on another site, we are very happy for you!
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					I’ve looked at the houses available through Off-Market-SF and did not find my dream home.  I have a general sense of what I’m looking for.  Can Off-Market-SF help me make contact with the owners of homes on the street or block that I’m very interested in buying a home on?
				</div>
				<div class="content">
					If you do not find homes that meet your criteria already listed on Off-Market-SF, for a minimal fee, we can do pro-active outreach to selected homeowners to generate additional homes to consider.  Please contact your Off-Market-SF specialist to learn more about this opportunity.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Do I need a buying agent to search for a home through Off-Market-SF?
				</div>
				<div class="content">
					No, you can use Off-Market-SF without a buying agent.  We believe in transparency and openness, and so all buyers will have access to view all homes listed.  We have no relationships with buying agents, so we will not give preference to any buying agent, despite what they may claim.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What happens if I am already working with a buying agent?
				</div>
				<div class="content">
					You can still view and buy homes through Off-Market-SF.  However, please review any contracts that you have signed with your buying agent to understand your obligations to them.
					<br><br>
					Buying agents generally split the sale commission paid by the seller to the selling agent, and so may be expecting to 3% of your the price you pay for your new home.  At Off-Market-SF, we only charge sellers a 1% commission (compared to 6% that seling agents may charge), and pass the savings back to the seller, allowing them to accept a lower price to sell their home.  We also do not split the 1% commission with the buying agent.  We believe this is a fairer deal for both the buyer and the seller.  However, your buying agent may be unhappy with you if you purchase a home through Off-Market-SF as they won’t receive a big commission (up to $60,000).  You could elect to pay your buying agent a commision with some of the savings from your home purchase, and we will leave that to you and your buying agent to decide.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					My buying agent is recommending not buying a home through Off-Market-SF, why is that?
				</div>
				<div class="content">
					Off-Market-SF allows you to access homes that are actively listed for sale on other websites, and you do not need a buying agent to complete a purchase through Off-Market-SF.  We can also help with pro-active outreach to selected homeowners to generate additional homes that meet your dream home criteria.
					<br><br>
					However, with a traditional home sale, buying agents generally split the sale commission paid by the seller to the selling agent, and so may be expecting to 3% of your the price you pay for your new home.  At Off-Market-SF, we only charge sellers a 1% commission (compared to 6% that seling agents may charge), and pass the savings back to the seller, allowing them to accept a lower price to sell their home.  We also do not split the 1% commission with the buying agent.  We believe this is a fairer deal for both the buyer and the seller.  However, your buying agent may be unhappy with you if you purchase a home through Off-Market-SF as they won’t receive a big commission (up to $60,000).
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What if I don't want to pay a big premium for my next house?
				</div>
				<div class="content">
					If you are looking for a ‘great deal’, Off-Market-SF is probably not the right place for you to find your next dream home.  We work with motivated buyers who understand it is a very competitive real estate market and who are willing to pay top dollar to buy their dream home.
					<br><br>
					That being said, it is quick and easy to register as a buyer with Off-Market-SF, and there are no costs and no obligations.  So you have very little to lose from registering as a buyer and seeing what’s out there and comparing that to other options you are seeing on other real estate websites.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What geographies does Off-Market-SF cover?
				</div>
				<div class="content">
					Currently, Off-Market-SF is working with buyers in the SF Bay Area, New York, Miami and Seattle.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Why do you require a copy of my driver’s license, bank statements and a pre-approval letter before our in-person walk-through?
				</div>
				<div class="content">
					We value the trust that our sellers put in us to find potential buyers, and want to make sure we honor that trust.  Before conducting an in-person walk-through, we complete an Off-Market-SF Triple Check to verify the potential buyer.
					<br><br>
					The Triple Check validates your identity, financial resources and interest in buying a home.  We obtain a copy of your driver’s license to confirm your identity.  We also obtain financial documents, including a bank statement, investment account statements and a pre-approval or pre-qualification letter to ensure that you have the financial resources to make a credible offer.
					<br><br>
					We do not share any information from the Off-Market-SF Triple Check with sellers, other than to inform them that we have completed the Triple Check, and that the potential buyer undertaking the walk-through has passed.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					How many walk-throughs can I do?
				</div>
				<div class="content">
					The short answer is, as many as you are interested in.  The only limitation is the seller’s availability for walk-throughs.  We will work with you and the sellers to find a convenient time for both parties.  The walk-through can either be with you, with the buyer by themselves or with one of our well-trained and professional specialists.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					I've found a house that I love and want to buy it, what happens now?
				</div>
				<div class="content">
					NEED CONTENT FOR QUESTION
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What information are you showing about me to potential sellers?
				</div>
				<div class="content">
					NEED CONTENT FOR QUESTION
				</div>
			</div>
		</div>
		<div class="center aligned ui container text-header-padding" id="for-sellers">
			<h1 class="ui large header">For Sellers</h1>
			<div class="ui fluid styled accordion">
				<div class="title">
				<i class="dropdown icon"></i>
					Why should I sell with Off-Market-SF?
				</div>
				<div class="content">
					There are numerous benefits to selling your home through Off-Market-SF!
					<div class="accordion">
						<div class="active title">
							<i class="angle double right icon"></i>
							Lower commission puts more money in your pocket
						</div>
						<div class="content">
							Real estate agents may charge you up to 6% commission.  Off-Market-SF charges only 1% if we sell your home, potentially saving you $100,000 (on a two million dollar sale).
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Stay in your home until you get the right price and terms
						</div>
						<div class="content">
							Selling through an agent generally requires you to move out of your house so you can stage your home.  That requires you to find a temporary place to live, putting all of your possessions into storage and disrupting your usual routines.  Off-Market-SF allows you to stay in your home while we find a buyer willing to pay your desired price.  You continue living in your home
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							No commitments!
						</div>
						<div class="content">
							Unlike a traditional sale whereby you have to (practically-speaking) go “all-in” to sell your home, Off-Market-SF is a no-commitment, no-cost way to see what price buyers are offering for your home.  If you don’t like the price, you don’t have to do anything.  But if you like the price you’re offered, you get to sell your house for a great price!
						</div>
						<div class="active title">
							Get offers from motivated buyers targeting your neighborhood
						</div>
						<div class="content">
							We only work with selective buyers who are willing to pay top dollar to find their dream home.  This means you’ll be seeing offers at the upper range as our buyers put a big premium on living on your block, street, neighborhood or school district.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Greater flexibility with your sale terms
						</div>
						<div class="content">
							Because we only work with motivated buyers targeting your neighborhood, you will have more flexibility with the terms of the sale.  If you want to stay in your home till the end of the school year, you can sell your home now and negotiate your specific move-out date.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							No repairs and staging costs
						</div>
						<div class="content">
							NEED COPY HERE
						</div>
					</div>
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					How do I register with Off-Market-SF?
				</div>
				<div class="content">
					Registration is quick and simple.  It takes about 2 minutes to register with Off-Market-SF and we’ll quickly get your home in-front of buyers targeting your neighborhood.
					<a id="link-seller">Click here to register.</a>
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What are my commitments or obligations?
				</div>
				<div class="content">
					None!  Zero!  Zilch!  Off-Market-SF is a no-commitment, no-cost way to see what price buyers are offering for your home.  If you don’t like the price, you don’t have to do anything.  But if you like the price you’re offered, you get to sell your house for a great price!
					<br><br>
					Once we find a buyer willing to pay over your price to buy your home, you still have the opportunity to negotiate your final sales price and sale terms.  You have no obligation to sell at that point if you change your mind.
					<br><br>
					If you enter into a contract to sell your home to a buyer through Off-Market-SF, we’ll ask that you enter into a Home Listing Agreement whereby you agree to pay a 1% commission to Off-Market-SF.  This is a significant saving from the 6% that agents may charge you if you sold your home that way.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Does it cost anything to register with Off-Market-SF?
				</div>
				<div class="content">
					There are no costs (or obligations) for registering with Off-Market-SF.  It is free to register and costs you nothing to get your home in-front of buyers targeting your neighborhood.  We’ll get you top-dollar offers for your home, all for the low price of FREE!
					<br><br>
					If you enter into a contract to sell your home to a buyer through Off-Market-SF, we’ll ask that you enter into a Home Listing Agreement whereby you agree to pay a 1% commission to Off-Market-SF.  This is a significant saving from the 6% that agents may charge you if you sold your home that way.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					I’ve registered with Off-Market-SF - what happens now?
				</div>
				<div class="content">
					Once you’ve registered, you can sit back and relax, and wait for the offers to come in.  We’ll inform our buyers targeting your neighborhood and provide them with basic details about your home.  We’ll work with them to gauge their interest level in your home and get indicative bid offers from interested buyers.
					<br><br>
					If any buyers indicative bids exceed your minimum threshold price, we’ll let you know that we have an interested buyer and contact you about setting up an in-person walk-through.
					<br><br>
					If we have multiple buyers interested in your home, we’ll ask you to provide some photos of your home so we can show our buyers.  This will help us limit the number of in-person walk-throughs that we need to undertake.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Will buyers be able to see my minimum price?
				</div>
				<div class="content">
					We will never reveal your minimum price to any buyers.  We ask you for this information so that we are only contacting you once we have a buyer who is willing to exceed your minimum price.
					<br><br>
					Additionally, the price you select when you first register is only indicative and you will negotiate your final sales price with any buyers that we match you with.  We understand that circumstances change, and your final sales price may be higher than your initial minimum price.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What if I’m not ready to sell right now?
				</div>
				<div class="content">
					Not a problem.  You can still register with Off-Market-SF.  Let us know your price and we can let you know when we’ve found a buyer willing to pay that price.  You can then decide whether the offer is compelling enough to change your plans.  If not, you can elect not to sell and wait for a more attractive offer to arrive.
					<br><br>
					If you want to stay in your house till the end of the school year (or till some other milestone), you can still elect to sell your home and negotiate with your buyer as to the exact move-out date.  Our buyers know that this is a very tight real estate market, and will make concessions to get the home of their dreams, including allowing sellers to continue living in their homes until the time is right.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What geographies does Off-Market-SF cover?
				</div>
				<div class="content">
					Currently, Off-Market-SF is working with buyers in the SF Bay Area, New York, Miami and Seattle.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					I’m already working for a seller’s agent. Can I also register with Off-Market-SF to work with your buyers?
				</div>
				<div class="content">
					Certainly!  However, you should check your Listing Agreement you have with your seller’s agent to see whether your seller’s agent has an exclusive right to sell clause.  If your contract has this clause, you will have to pay your seller’s agent a commission when you sell your house, regardless of how you sold your house.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					You've found me a buyer willing to pay may price, what happens now?
				</div>
				<div class="content">
					After we’ve found a buyer willing to pay over your price, we first check that you are still interested in selling your home.  We understand that sometimes things change, and you are under no obligation to sell.
					<br><br>
					Assuming you’re still interested in selling your home at a great price, we’ll set-up an in-person walk-through at a time that is convenient for you and the potential buyer.  The walk-through can either be with you, with the buyer by themselves or with one of our well-trained and professional specialists.
					<br><br>
					After the walk-through, we’ll have our buyer to reconfirm their interest-level and price range.  Assuming their interest is still strong, we’ll then arrange a third-party appraisal and inspection (Off-Market-SF will pay for this appraisal and inspection).  We’ll share the results of the appraisal and inspection with both you and the potential buyer.
					<br><br>
					At this point, we encourage both you and the buyer to obtain legal representation for the transaction.  While this is not mandatory, we think it is prudent.  You can choose to use a lawyer that you are familiar with, or we can provide you with a list of real estate lawyers that we have worked with in the past.  You will be responsible for the cost of the legal representation.
					<br><br>
					If there is still mutual interest in a transaction, we will then ask the buyer to propose their non-price terms, such as the sale date, the move-in date, the contingencies (if any).  You’ll then be able to either accept or modify the non-price terms.
					<br><br> 
					Once we have the non-price terms agreed upon, we conduct a “double blind” auction.  The buyer will submit the maximum price they are willing to pay to buy your home (“the bid”); You will submit the minimum price you’d sell your home at (“the ask”).  If the bid is greater than the ask, the final sales price will be the mid-point between the bid and the ask.  If the bid is less than the ask, no transaction will take place and both parties will be notified.
					<br><br>
					Off-Market-SF has standardized sales agreement contracts that you will enter into with the buyer.  We establish an escrow account on your behalf.
					<br>
					[Need to complete this]
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					What advantages do you provide over a traditional real estate agent?
				</div>
				<div class="content">
					There are numerous benefits to selling your home through Off-Market-SF!
					<div class="accordion">
						<div class="active title">
							<i class="angle double right icon"></i>
							Lower commission puts more money in your pocket
						</div>
						<div class="content">
							Real estate agents may charge you up to 6% commission.  Off-Market-SF charges only 1% if we sell your home, potentially saving you $100,000 (on a two million dollar sale).
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Stay in your home until you get the right price and terms
						</div>
						<div class="content">
							Selling through a selling agent generally requires you to move out of your house so you can stage your home.  That requires you to find a temporary place to live, putting all of your possessions into storage and disrupting your usual routines.  Off-Market-SF allows you to stay in your home while we find a buyer willing to pay your desired price.  You continue living in your home
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							No commitments!
						</div>
						<div class="content">
							Unlike a traditional sale whereby you have to (practically-speaking) go “all-in” to sell your home, Off-Market-SF is a no-commitment, no-cost way to see what price buyers are offering for your home.  If you don’t like the price, you don’t have to do anything.  But if you like the price you’re offered, you get to sell your house for a great price!
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Get top dollar offers from motivated buyers targeting your neighborhood
						</div>
						<div class="content">
							We only work with selective buyers who are willing to pay top dollar to find their dream home.  This means you’ll be seeing offers at the upper range as our buyers put a big premium on living on your block, street, neighborhood or school district.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							Greater flexibility with your sale terms
						</div>
						<div class="content">
							Because we only work with motivated buyers targeting your neighborhood, you will have more flexibility with the terms of the sale.  If you want to stay in your home till the end of the school year, you can sell your home now and negotiate your specific move-out date.
						</div>
						<div class="active title">
							<i class="angle double right icon"></i>
							No repairs and staging costs
						</div>
						<div class="content">
							Homeowners can spend up to $50,000 to get their homes ready for sale and to stage their home with rented furniture.  This is money straight out of your pocket.  Our buyers know they are buying homes ‘as-is’ and will pay top dollar based on the size and location of your home, rather than how well it is presented.
						</div>
					</div>
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Who are the buyers you work with and how do you vet buyers?
				</div>
				<div class="content">
					We work with motivated buyers who are targeting homes like yours.  They understand that it is a competitive real estate market and they are willing to pay top dollar for the home of their dreams.
					<br><br>
					We undertake a thorough vetting of buyers before a walk-through is scheduled.  We obtain a copy of the driver’s license of the buyer to confirm identity.  We also obtain financial documents, including a bank statement, investment account statements and a pre-approval or pre-qualification letter to ensure that the buyer has the financial resources to make an offer.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					How many buyers will I show my house to?
				</div>
				<div class="content">
					It is up to you.  You are in complete control of how many buyers you show your home to.  We only reach out to you when a buyer has indicated that they will exceed your minimum price.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Can you also help me find a new home if I sell my home?
				</div>
				<div class="content">
					Absolutely!  Just let your Off-Market-SF specialist know that you are also looking to buy and they can help you target your next dream home.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Why does Off-Market-SF distinguish between homeowners and sellers?
				</div>
				<div class="content">
					We distinguish between those homeowners who are actively selling their homes, and those homeowners that are aren’t interested in selling their home, but would consider selling if the price is right.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Who can see my info and how do you protect my privacy?
				</div>
				<div class="content">
					We value your privacy and will ensure we protect your privacy.  We will never share any personal information with anyone without your consent.  Buyers will not be provided with your personal information until the final stages of the sales process when we need to disclose your details on contracts, etc.  We will never reveal your minimum sales process with any buyers.
				</div>
				<div class="title">
				<i class="dropdown icon"></i>
					Will my information ever be sold to third-parties?
				</div>
				<div class="content">
					Never.  We will not share your information with any third-parties.
				</div>
			</div>
		</div>
	</div>
</template>