<template name="homepage">
  	
  	<div class="center aligned title-header-wrapper" id="homepage-title">
  		<h1 class="huge center aligned main ui header">Off-Market-SF</h1>
  		<h2 class="center aligned ui header">The New and Better Way to Buy, Sell and Own Your Home</h2>
  		<div class="center aligned ui container">
		  <button class="huge ui button" id="seller-button">I'm a Seller</button>
		  <button class="huge ui button" id="buyer-button">I'm a Buyer</button>
		  <button class="huge ui button" id="homeowner-button">I'm a Homeowner</button>
		</div>
	</div>
	<div class="container main-background">
		<div class="container title-section-wrapper" id="seller-benefits">
			<div class="center aligned ui large header">Seller Benefits</div>
			<div class="ui centered cards">
				<div class="card">
					<div class="content">
						<div class="header">Save on Agent Commissions</div>

						<p>Agents can charge up to 6%, which can cost you over $100,000 from your eventual sales price.
						</p>
					</div>
					<div class="extra content">
							<div class="left floated mini ui image">
								<img src="/images/icons/Money.png">
							</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="header">Receive Offers from Motivated Buyers Willing to Pay Top Dollar</div>
						
						<p>We only work with motivated buyers who are targeting specific homes and willing to pay top dollar.
						</p>
					</div>
					<div class="extra content">
							<div class="right floated mini ui image">
								<img src="/images/icons/Family.png">
							</div>
					</div>
				</div>
			</div>
			<div class="ui centered cards">
				<div class="card">
					<div class="content">
						<div class="header">Stay In Your Home Until You Get Your Desired Price and Terms</div>
						
						<p>Continue living in your home while we find you a buyer willing to pay your desired price. Negotiate your move out with your buyer to suit your timing.
						</p>
					</div>
					<div class="extra content">
							<div class="left floated mini ui image">
								<img src="/images/icons/Calendar.png">
							</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="header">No Staging Costs</div>
						
						<p>Sell your home ‘as-is’ without having to pay for fixing and staging your home. This can save you over $20,000.
						</p>
					</div>
					<div class="extra content">
							<div class="right floated mini ui image">
								<img src="/images/icons/Furniture.png">
							</div>
					</div>
				</div>
			</div>
			<div class="ui teal inverted center aligned compact right floated segment">
				<button class="huge ui button" id="register-seller-button">
					Register My Home
				</button>
				<p>NO COMMITMENT, NO COST</p>
			</div>
		</div>
		<div class="container title-section-wrapper" id="buyer-benefits">
			<div class="center aligned ui large header">Buyer Benefits</div>
			<div class="ui centered cards">
				<div class="card">
					<div class="content">
						<div class="header">Access to Off-Market Listings</div>
						
						<p>We’ve all heard about these mystical Off-Market homes.  We have them and can show them to you.
						</p>
					</div>
					<div class="extra content">
							<div class="left floated mini ui image">
								<img src="/images/icons/TopSecret.png">
							</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="header">Target Your Dream Home</div>
						
						<p>Tell us which street, block, suburb or school district you want to live and we’ll help you find you your next dream home.
						</p>
					</div>
					<div class="extra content">
							<div class="right floated mini ui image">
								<img src="/images/icons/Target.png">
							</div>
					</div>
				</div>
			</div>
			<div class="ui centered cards">
				<div class="card">
					<div class="content">
						<div class="header">Inspect Homes on Your Own Time</div>
						
						<p>Avoid the hoards at open homes and inspect homes by yourself at a time that is convenient for you.
						</p>
					</div>
					<div class="extra content">
							<div class="left floated mini ui image">
								<img src="/images/icons/House.png">
							</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="header">Custom Analytics to Help You Make The Right Offer</div>
					
						<p>Proprietary data and algorithms to help you assess what homes are worth, as well as trajectory of future home values
						</p>
					</div>
					<div class="extra content">
							<div class="right floated mini ui image">
								<img src="/images/icons/Chart.png">
							</div>
					</div>
				</div>
			</div>
			<div class="ui teal inverted center aligned compact right floated segment">
				<button class="huge ui button" id="register-buyer-button">
					Find My Dream Home
				</button>
				<p>NO OBLIGATION, NO COST</p>
			</div>
		</div>
		<div class="container title-section-wrapper">
			<div class="center aligned ui large header" id="homeowner-benefits">Homeowner Benefits</div>
			<div class="ui centered cards">
				<div class="card">
					<div class="content">
						<div class="header">Get Real Offers on Your Home With Zero Commitment or Costs</div>
						
						<p>Get notifications on what prospective buyers are willing to offer for your home.  Signing up is simple and quick, and there are no commitments
						</p>
					</div>
					<div class="extra content">
							<div class="left floated mini ui image">
								<img src="/images/icons/Contract.png">
							</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="header">Receive Offers from Motivated Buyers Willing to Pay Top Dollar</div>
						
						<p>We only work with motivated buyers who are targeting specific homes and willing to pay top dollar above market comparables
						</p>
					</div>
					<div class="extra content">
							<div class="right floated mini ui image">
								<img src="/images/icons/Family.png">
							</div>
					</div>
				</div>
			</div>
			<div class="ui centered cards">
				<div class="card">
					<div class="content">
						<div class="header">Stay In Your Home Until You Get Your Desired Price and Terms</div>
						
						<p>Continue living in your home while receiving offers from motivated buyers. You can ignore the offers until you are interested at selling at the right price.
						</p>
					</div>
					<div class="extra content">
							<div class="left floated mini ui image">
								<img src="/images/icons/Calendar.png">
							</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="header">Save on Agent Commissions</div>
						
						<p>If we find you an attractive offer at the right price, we can help you sell your home without an agent.  Agents can charge up to 6%, which can cost you over $100,000.
						</p>
					</div>
					<div class="extra content">
							<div class="right floated mini ui image">
								<img src="/images/icons/Money.png">
							</div>
					</div>
				</div>
			</div>
			<div class="ui teal inverted center aligned compact right floated segment">
				<button class="huge ui button" id="register-homeowner-button">
					Register My Home
				</button>
				<p>NO COMMITMENT, NO COST</p>
			</div>
		</div>
	</div>

</template>