<template name="howitworks">
	<div class="ui container">
		<section id="cd-timeline" class="cd-container">
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-seller">
					<img src="/images/icons/Contract.png" alt="Contract">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 1: Register your home (no-commitment, no-cost) and get real offers on your home</h2>
					<div class="ui bulleted list">
						<div class="item">Tell us a little more about your home (SQFT, rooms, etc)</div>
						<div class="item">Tell us what price you’d contemplate selling.  We won’t contact you until we have a buyer willing to exceed this price (don’t worry, you’ll still negotiate the final sale price at a later date)</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-buyer">
					<img src="/images/icons/Target.png" alt="Target">
				</div> <!-- cd-timeline-img -->
				<div class="cd-timeline-content">
					<h2>Step 1: Target your dream home</h2>
					<div class="ui bulleted list">
						<div class="item">Tell us where you'd like to buy and what type of home you're interested in</div>
						<div class="item">We'll show you homes that match your criteria</div>
						<div class="item">When you find your dream home, tell us your approximate price range and we'll let you know if you're in the seller's range</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-seller">
					<img src="/images/icons/HomeLove.png" alt="HomeLove">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 2: Choose to show your home to buyers</h2>
					<div class="ui bulleted list">
						<div class="item">When we've found a buyer willing to exceed your price, we'll let you know</div>
						<div class="item">You can choose whether to allow an in-person walk-through of your home</div>
						<div class="item">If you choose to show, we'll help set up a mutually agreeable time</div>
						<div class="item">If the buyer is interested after the walk-through we'll help set up a third-party appraisal and inspection</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-buyer">
					<img src="/images/icons/Binoculars.png" alt="Binoculars">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 2: Complete home inspection</h2>
					<div class="ui bulleted list">
						<div class="item">Complete an in-person walk-through of your potential dream home</div>
						<div class="item">If you're still interested, we'll help schedule a third-part inspection and appraisal</div>
						<div class="item">Confirm interest in home after you read the inspection and appraisal results</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-seller">
					<img src="/images/icons/Handshake.png" alt="Handshake">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 3: Negotiate your price and terms</h2>
					<div class="ui bulleted list">
						<div class="item">Agree on non-financial terms with the buyer (contingencies, sale date, move out date, etc)</div>
						<div class="item">Submit your asking price for your home. If your ask is lower than the buyer's bid price, we'll split the difference between bid and ask</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-buyer">
					<img src="/images/icons/Handshake.png" alt="Handshake">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 3: Negotiate your price and terms</h2>
					<div class="ui bulleted list">
						<div class="item">Agree on non-financial terms with the seller (contingencies, sale date, move out date, etc)</div>
						<div class="item">Submit your bid for your dream home. If your bid is above the seller's ask price, we'll split the difference between bid and ask</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-seller">
					<img src="/images/icons/Money.png" alt="Money">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 4: Close your sale</h2>
					<div class="ui bulleted list">
						<div class="item">The buyer will submit a home purchase agreement and deposit (3%). You'll also sign the home purchase agreement</div>
						<div class="item">We'll help you find a title company to complete the sale</div>
						<div class="item">Sit back and relax. You got top-dollar for your home!</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-buyer">
					<img src="/images/icons/HomeLove.png" alt="HomeLove">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Step 4: Close on your dream home</h2>
					<div class="ui bulleted list">
						<div class="item">Sign a home purchase agreement and submit a deposit (3%)</div>
						<div class="item">We'll help you find a title company to complete the sale</div>
						<div class="item">Sit back, relax and enjoy your dream home - it's yours!</div>
					</div>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->
		</section> <!-- cd-timeline -->
	</div>
</template>
	