<template name="footerFront">
  <div class="ui stackable menu borderless footer">
	<a href="#" class="item" id="footer-about-us">About Us</a>
	<a href="#" class="item" id="footer-howitworks">How It Works</a>
	<a href="#" class="item" id="footer-faqs">FAQS</a>
	<a href="#" class="item" id="footer-contact">Contact Us</a>
    <div class="right menu">
    	<a href="#" class="item" id="footer-terms">Terms Of Use</a>
    	<a href="#" class="item" id="footer-privacy">Privacy Policy</a>
    </div>
  </div>
</template>