<template name="headerFront">
  <div class="ui top fixed compact borderless inverted menu">
    <div class="ui black dropdown labeled icon button">
      <i class="sidebar icon"></i>
      <span class="text">Menu</span>
      <div class="menu">
        <a class="item" id="menu-home">Home</a>
        <a class="item" id="menu-sellers">For Sellers</a>
        <a class="item" id="menu-buyers">For Buyers</a>
        <a class="item" id="menu-homeowners">For Homeowners</a>
        <a class="item" id="menu-howitworks">How It Works</a>
        <a class="item" id="menu-contact">Contact Us</a>
        <a class="item" id="menu-faqs">FAQs</a>
      </div>
    </div>
    <div class="right menu">
      <a class="item" id="menu-right-offmarket">Off-Market-SF</a>
    </div>
  </div>
</template>
<!--<ul>
        <li><a href="{{pathFor 'homepage'}}">Homepage</a></li>
        <li><a href="{{pathFor 'content'}}">Content page</a></li>
        <li><a href="{{pathFor 'items'}}">Items</a></li>
        <li><a href="/404">404 Link</a></li>
        {{#if isLoggedIn}}
          <li><a href="/" class="log-out">Log Out</a></li>
        {{else}} 
          <li><a href="{{pathFor 'signup'}}">Sign Up</a></li>
          <li><a href="{{pathFor 'login'}}">Log In</a></li>   
        {{/if}}
      </ul>-->
      <!--<div class="messages">
    {{#each messages}}
      <p class="message message-{{type}}">{{message}}</p>
    {{/each}}
  </div>-->
  