<!--This defines the main layout for the various application templates-->
<template name="layoutFront">
  {{#if isFlows}}
  	{{> headerFlows}}
  {{else}}
  	{{> headerFront}}
  {{/if}}
  <div class="main-background">
  <!--sAlert is a package that allows for the display of various kinds of alerts-->
    {{> sAlert}}
    <!--'yield' gives the template named by the given route that one is on-->
	  {{> yield}}
	  {{#if isFlows}}
		  {{> footerFlows}}
	  {{else}}
		  {{> footerFront}}
	  {{/if}}
  </div>
</template>
